*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.a_color{
    color: white;
    background-color: black;
}
.a_color_1{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.a_color_1:hover{
    color: white;
}
.a_size_1{
    padding: 2px 0px 0px 10px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.a_size_1:hover{
    color: white;
}